.center {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  flex-direction: column;
}
.type_text {
  display: flex;
  justify-content: center;
}
/* @media screen and (max-width: 768px){
    .type_text{
        margin: 0 auto;
    font-size: 1.5rem;
    }
} */
.ripple {
  margin: auto;
  margin-top: -5rem;
  background-color: white;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  position: relative;
  animation: ripple 2s linear infinite;
}
.ripple::before,
.ripple::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  animation: inherit;
  animation-delay: 1s;
}
.ripple::after {
  animation-delay: 1s;
}

.icon {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
  }
  .icon a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 1rem 1rem;
	width: 3rem;
	height: 3rem;
	border: 2px solid white;
  border-radius: 100%;
  text-decoration: none;
  transition: 0.3s;
  
  }
  .icon a:hover{
         background-color: #2c3a47;
  }
 .icon .github{
   background-color: rgb(16, 112, 112);
 }
 .icon .linkedin{
   background-color: #4078c0;
   
 }
 .icon .email{
   background-color: #e64b1c;
   
 }
 .icon .mobile{
   background-color: #4834d4;
   
 }
 .icon i{
   color: white;
 }
@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0.7rem rgba(255, 255, 255, 0.1);
  }
  100% {
    box-shadow: 0 0 0 8rem rgba(255, 255, 255, 0);
  }
}
